/* General & 'Reset' Stuff */

body {
  text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 12px;
  }
}

quickstart figure, quickstart p {
  display: block;
  margin: 16px 1em;
}

p {
  margin: 16px 1em;
}

figure {
  display: inline-block;
  margin: 1em;
}

figure pre {
  display: inline-block;
  position: relative;
  width: 41.5em;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 599px) {
  figure pre img {
    position: absolute;
    top: -6.5em;
  }
}

pre a, pre a:visited {
  color: black;
}

tipped, tipped-right {
  position: relative;
}
pre:hover tipped, pre:hover tipped-right {
  border-bottom: dashed purple 1px;
}
tooltip {
  position: absolute;
  top: 1.4em;
  box-shadow: 5px 5px 3px rgba(0,0,0,0.25);
  padding: 2px 6px;
  display: none;
  background-color: yellow;
  font-family: Lato, sans-serif;
  font-weight: 400;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
tipped:hover tooltip, tipped-right:hover tooltip {
  display: block;
}
tipped tooltip {
  left: 0em;
}
tipped-right tooltip {
  right: 0em;
}

features pre {
  height: 20em;
}

@keyframes typing-1 {
  0%   { max-width: 0; border-right-color: black; }
  4.5% { border-right-color: black; }
  5%   { border-right-color: white; }
  9.5% { border-right-color: white; }
  10%  { max-width: 0; border-right-color: black; }
  14.5%{ border-right-color: black; }
  15%  { border-right-color: white; }
  19.5%{ border-right-color: white; }
  20%  { border-right-color: black; }
  24.5%{ border-right-color: black; }
  25%  { border-right-color: white; }
  27%  { max-width: 550px; }
  100% { max-width: 550px; border-right-color: white; }
}

@keyframes typing-2 {
  0%   { max-width: 0; border-right-color: white; }
  29.5%{ border-right-color: white; }
  30%  { border-right-color: black; }
  34.5%{ border-right-color: black; }
  35%  { border-right-color: white; max-width: 0; }
  39.5%{ border-right-color: white; }
  40%  { border-right-color: black; }
  44.5%{ border-right-color: black; }
  45%  { border-right-color: white; }
  49.5%{ border-right-color: white; }
  50%  { border-right-color: black; }
  52%  { max-width: 550px; }
  54.5%{ border-right-color: black; }
  55%  { border-right-color: white; }
  100% { max-width: 550px; border-right-color: white; }
}

@keyframes typing-3 {
  0%   { max-width: 0; border-right-color: white; }
  59.5%{ border-right-color: white; }
  60%  { border-right-color: black; max-width: 0; }
  64.5%{ border-right-color: black; }
  65%  { border-right-color: white; }
  69.5%{ border-right-color: white; }
  70%  { border-right-color: black; }
  74.5%{ border-right-color: black; }
  75%  { border-right-color: white; }
  77%  { max-width: 550px; }
  79.5%{ border-right-color: white; }
  80%  { border-right-color: black; }
  84.5%{ border-right-color: black; }
  85%  { border-right-color: white; }
  100% { max-width: 550px; border-right-color: white; }
}

animate-add-1,animate-add-2,animate-add-3 {
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  overflow: hidden;
  border-right: 2px solid white;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(150);
}
animate-add-1 {
  animation-name: typing-1;
}
animate-add-2 {
  animation-name: typing-2;
}
animate-add-3 {
  animation-name: typing-3;
}

pre:hover animate-add-1,
pre:hover animate-add-2,
pre:hover animate-add-3 {
  animation-name: none;
  overflow: visible;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  /* border-bottom: 1px rgba(0, 0, 0, 0.1) solid; */
  /* padding: 1.25em 0 0 0; */
  margin: 0;
  display: table;
}

header h2 {
    font-family: "Century Gothic", "Gill Sans", sans-serif;
    font-weight: 300;
    font-size: 112.5%;
    color: #666;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #539EE9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0   5px rgba(181, 232, 83, 0.1),
                 0 0  10px rgba(181, 232, 83, 0.1);
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 312.5%;
    line-height: 1.5;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2),
                 0   0   5px rgba(181, 232, 83, 0.1),
                 0   0  10px rgba(181, 232, 83, 0.1);
}

h1 em {
  font-family: "Century Gothic", "Gill Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  margin-top: 1.3333em;
  margin-bottom: 0.4167em;
  font-family: "Century Gothic", "Gill Sans", sans-serif;
  font-weight: 700;
  font-size: 150%;
}

em {
  font-family: "Century Gothic", "Gill Sans", sans-serif;
}


h2 + h3 {
  margin-top: 1.1111em;
}

h3 {
  font-family: "Century Gothic", "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: 112.5%;
  display: table;
  width: auto;
  background: white;
  margin: 1.6667em 0 0.5555em 1.6667em;
  padding: 0 0.5555em;
}

h3 + p {
  margin-top: 0.625em;
}

h3:after {
  content: " ";
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: -0.6666em;
  border: 0px solid white;
  border-bottom: 1px solid rgba(83, 158, 232, 0.2);
  border-image-source: linear-gradient(to right,
      rgba(83, 158, 232, 0.3), rgba(83, 158, 232, 0.5),
      rgba(83, 158, 232, 0.5), rgba(0, 0, 0, 0));
  border-image-slice: 1;
}

/* Main Content
*/

pre, code {
    font-size: 81.25%;
    font-weight: 300;
    font-family: "Source Code Pro", monospace;
}
pre {
    border: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 0.3846em 0.7692em;
    line-height: 1.4;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}
java-keyword {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}
java-static {
  font-style: italic;
}
java-comment {
  color: #46A94B;
}
java-field {
  color: #7e1e9c;
}
java-string {
  color: #929591;
}

a {
  color: #63c0f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
