/* General & 'Reset' Stuff */

body {
  -webkit-font-smoothing: subpixel-antialiased;
}

.container {
  width: 90%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px white solid;
  padding: 20px 0 0 0;
  margin: 0 0 40px 0;
}

header h2 {
    font-size: 18px;
    font-weight: 300;
    color: #666;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: "Century Gothic";
    color: #539EE9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0   5px rgba(181, 232, 83, 0.1),
                 0 0  10px rgba(181, 232, 83, 0.1);
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2),
                 0   0   5px rgba(181, 232, 83, 0.1),
                 0   0  10px rgba(181, 232, 83, 0.1);
    font-size: 50px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    letter-spacing: -1px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 300;
}

h1 em {
  font-family: "Century Gothic";
  font-style: normal;
  font-weight: 700;
}

h2 {
    font-size: 24px;   
    margin-top: 40px;   
    margin-bottom: 10px;
    font-weight: 700;
}

em {
  font-family: "Century Gothic";
}


h2 + h3 {
    margin-top: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  display: table;
  width: auto;
  background: white;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
}

h3 + p {
  margin-top: 10px;
}

h3:after {
  content: " ";
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: -11px;
  border: 0px solid white;
  border-bottom: 1px solid rgba(83, 158, 232, 0.2);
  border-image-source: linear-gradient(to right,
      rgba(83, 158, 232, 0.3), rgba(83, 158, 232, 0.5),
      rgba(83, 158, 232, 0.5), rgba(0, 0, 0, 0));
  border-image-slice: 1;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0 7px;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

blockquote {
  color: #6B4242;
  padding-left: 10px;
  margin: 0 auto;
  overflow: auto;
  width: 85%;
}

blockquote cite {
  float: right;
  right: 0;
  margin-top: 5px;
}

pre {
    border: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 5px 10px;
    font-family: "Source Code Pro", monospace;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: #539EE8;
  background: -webkit-linear-gradient(top,
      rgba(83, 158, 232, 0.2), rgba(83, 158, 232, 0.45) 50%,
      rgba(83, 158, 232, 0.5) 50%, rgba(83, 158, 232, 0.9));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: aliceblue;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top,
      rgba(55, 106, 155, 0.9), rgba(55, 106, 155, 0.5) 50%,
      rgba(55, 106, 155, 0.45) 50%, rgba(55, 106, 155, 0.2));
  text-decoration: none;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.7;
  background: url("../images/github.png") 0 0 no-repeat;
  background-size: 16px;
}

/* Links
   a, a:hover, a:visited
*/


/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

em strong {
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 700;
}

em strong:before {
    content: "″ ";
    padding-right: 0px;
    display: inline;
}

em strong:after {
  content: " ″";
  padding-left: 0px;
  display: inline;
}

section#downloads {
    text-align: center;
    display: block;
    margin-top: 15px;
}

#main_content {
    width: 100%;   
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: justify;
}


a {
  color: #63c0f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
    font-family: "Source Code Pro";
}

code em {
  font-style: normal;
  font-weight: 600;
  color: darkgray;
}

ul {
  padding-left: 40px;
}

ul ul {
  padding-left: 30px;
}

li {
  position: relative;
}

ul li {
  list-style: none;
}

ul li:before {
  content: "#";
  position: absolute;
  left: -20px;
  top: 4px;
  font-family: "Century Gothic";
  font-size: 12px;
  color: #539ee8;
  line-height: 16px;
}