/* General & 'Reset' Stuff */

body {
  text-size-adjust: 100%; 
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 12px;
  }
}

.container {
  width: 90%;
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 1.25em 0;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px white solid;
  padding: 1.25em 0 0 0;
  margin: 0 0 2em 0;
}

header h2 {
    font-family: "Century Gothic", "Gill Sans";
    font-weight: 300;
    font-size: 112.5%;
    color: #666;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #539EE9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
                 0 0   5px rgba(181, 232, 83, 0.1),
                 0 0  10px rgba(181, 232, 83, 0.1);
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 312.5%;
    line-height: 1.5;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2),
                 0   0   5px rgba(181, 232, 83, 0.1),
                 0   0  10px rgba(181, 232, 83, 0.1);
}

h1 em {
  font-family: "Century Gothic", "Gill Sans";
  font-weight: 700;
  font-style: normal;
}

h2 {
  margin-top: 1.3333em;   
  margin-bottom: 0.4167em;
  font-family: "Century Gothic", "Gill Sans";
  font-weight: 700;
  font-size: 150%;
}

em {
  font-family: "Century Gothic", "Gill Sans";
}


h2 + h3 {
  margin-top: 1.1111em;
}

h3 {
  font-family: "Century Gothic", "Gill Sans";
  font-weight: 400;
  font-size: 112.5%;
  display: table;
  width: auto;
  background: white;
  margin: 1.6667em 0 0.5555em 1.6667em;
  padding: 0 0.5555em;
}

h3 + p {
  margin-top: 0.625em;
}

h3:after {
  content: " ";
  z-index: -1;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: -0.6666em;
  border: 0px solid white;
  border-bottom: 1px solid rgba(83, 158, 232, 0.2);
  border-image-source: linear-gradient(to right,
      rgba(83, 158, 232, 0.3), rgba(83, 158, 232, 0.5),
      rgba(83, 158, 232, 0.5), rgba(0, 0, 0, 0));
  border-image-slice: 1;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0 0.5385em;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

blockquote {
  color: #6B4242;
  margin: 0 auto;
  overflow: auto;
  width: 85%;
  font-size: 93%;
}

blockquote cite {
  float: right;
  right: 0;
  margin-top: 0.336em;
}

pre {
    border: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 0.3846em 0.7692em;
    font-family: "Source Code Pro", monospace;
    font-size: 81.25%;
    font-weight: 300;
    line-height: 1.4;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    text-wrap: normal;
    overflow: auto;
    overflow-y: hidden;
}
.keyword {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
}
.static {
  font-style: italic;
}
.comment {
  color: #46A94B;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: #539EE8;
  background: -webkit-linear-gradient(top,
      rgba(83, 158, 232, 0.2), rgba(83, 158, 232, 0.45) 50%,
      rgba(83, 158, 232, 0.5) 50%, rgba(83, 158, 232, 0.9));
  padding: 0.5em 1.5em;
  border-radius: 2em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  font-family: "Century Gothic", "Gill Sans";
  font-weight: 700;
  font-size: 81.25%;
  color: aliceblue;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top,
      rgba(55, 106, 155, 0.9), rgba(55, 106, 155, 0.5) 50%,
      rgba(55, 106, 155, 0.45) 50%, rgba(55, 106, 155, 0.2));
  text-decoration: none;
}

.btn .icon {
  display: inline-block;
  width: 1.23em;
  height: 1.23em;
  margin: 0 0.615em 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.7;
  background: url("../images/github.png") 0 0 no-repeat;
  background-size: 1.23em;
}

em strong {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-style: normal;
}

em strong:before {
  content: "″";
  padding-right: 0.1em;
  display: inline;
}

em strong:after {
  content: "″";
  padding-left: 0.1em;
  display: inline;
}

section#downloads {
    text-align: center;
    display: block;
    margin-top: 0.9375em;
}

@media screen and (max-width: 500px) {
  section#downloads .btn {
    display: none;
  }

  section#downloads .btn + .btn + .btn {
    display: inline-block
  }
}

#main_content {
    width: 100%;   
    -webkit-font-smoothing: subpixel-antialiased;
    text-align: justify;
}


a {
  color: #63c0f5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
    font-family: "Source Code Pro";
    font-weight: 300;
}

code em {
  font-family: "Source Code Pro";
  font-weight: 500;
  display: inline-block;
  font-style: normal;
  margin: 0 1px;
}

ul {
  padding-left: 3em;
}

ul ul {
  padding-left: 1.5em;
}

li {
  position: relative;
}

ul li {
  list-style: none;
}

ul li:before {
  content: "#";
  position: absolute;
  left: -1.23em;
  font-family: "Century Gothic", "Gill Sans";
  font-size: 81.25%;
  margin-top: 2px;  /* Weirdly the same for Android. */
  color: #539ee8;
}
