name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ "*" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Set $JAVA_11_HOME
      run: echo "JAVA_11_HOME=$JAVA_HOME" >> $GITHUB_ENV
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'temurin'
    - name: Set $JAVA_8_HOME
      run: echo "JAVA_8_HOME=$JAVA_HOME" >> $GITHUB_ENV
    - name: Build
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
        arguments: build

